<table class="table table-bordered table-hover jobs-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Source</th>
      <th>Status</th>
      <th>Last Updated</th>
    </tr>
  <thead>
  <tbody>
    <% jobs.each do |j| %>
    <tr <% if j.liked %>class="success"<% end %>>
      <td><img class="favicon" src="<%= j.company ? j.company.icon_url : nil %>"><%= link_to j.company ? j.company.name : nil, j %></td>
      <td><% if j.remote %><span class="label label-info">Remote</span> <% end %><%= j.position %></td>
      <td><% if j.inbound %><span class="label label-info"><% end %><%= j.source %><% if j.inbound %></span><% end %></td>
      <td>
        <% j.job_actions.each do |a| %>
          <span class="label" style="background-color: <%= a.job_status.color %>"><%= a.name %></span>
        <% end %>
      </td>
      <td><%= j.last_action_date ? j.last_action_date.strftime("%B %d, %Y") : nil %></td>
    </tr>
    <% end %>
  <tbody>
</table>